@import url("normalize.css");
@import url("reset.css");
@import url("flex-utility.css");

:root {
  /* Layout */
  --base-unit: 27px;
  --base-font: 16px;
  /* Color styles */
  --black: rgba(44, 44, 44, 1);
  --light--gray: rgba(168, 168, 168, 1);
  --medium--gray: rgba(110, 110, 110, 1);
  --super--light--gray: rgba(235, 235, 235, 1);
  --primary: rgba(154, 199, 91, 1);
  --secondary: rgba(85, 118, 44, 1);
  --white: rgba(255, 255, 255, 1);
  --hero: rgba(45, 62, 79, 1);
  --hero--title: rgba(58, 153, 216, 1);
  --medium-blue: rgba(67, 156, 207, 1);
  --light-blue: rgba(72, 157, 205, 1);
  --c-t-a: rgba(41, 44, 46, 1);

  /* Text-size styles */
  --heading--x-l: calc(var(--base-font) * 3.4375);
  --body--l: calc(var(--base-font) * 2);
  --heading--s: calc(var(--base-font) * 1.5);
  --body--m: var(--base-font);
  --nav--item: calc(var(--base-font) * 0.875);
  --body--m-plus: calc(var(--base-font) * 1.125);
  --link: var(--base-font);
  --button---secondary: calc(var(--base-font) * 0.875);
  --button---primary: calc(var(--base-font) * 0.875);
}

body {
  /* font-family: "Open Sans", sans-serif;
  font-size: var(--base-font);
  line-height: var(--base-unit); */
  font:
    var(--base-font)/var(--base-unit) "Open Sans",
    sans-serif;
}

/* 폰트 위계 */
.text-heading-xl {
  font-size: var(--heading--x-l);
  /* line-height: calc(27 * 3); */
  line-height: calc(var(--base-unit) * 3);
  color: var(--hero--title);
  text-transform: uppercase;
  letter-spacing: 2%;
}

.text-heading-s {
  font-size: var(--heading--s);
  line-height: var(--base-unit);
}

.text-body-l {
  font-size: var(--body--l);
  line-height: calc(var(--base-unit) * 2);
  font-weight: 300;
  text-align: center;
}

.text-body-m {
  font-size: var(--body--m);
  line-height: var(--base-unit);
}

.text-body-m-plus {
  font-size: var(--body--m-plus);
  line-height: var(--base-unit);
  text-align: center;
  color: var(--light--gray);
}

.text-nav {
  font-size: var(--nav--item);
  font-weight: bold;
  text-transform: uppercase;
}

/* 링크 버튼 */
.btn {
  height: 39px;
  background: var(--super--light--gray);
  border-radius: 3px;
  padding: 0 20px;
  display: inline-flex;
  color: var(--medium--gray);
  align-items: center;
  font-size: calc(var(--base-font) * 0.875);
  font-weight: bold;
  gap: 5px;
  text-transform: uppercase;
}

.btn .material-icons {
  font-size: 14px;
}

.btn-primary {
  background: var(--primary);
  color: var(--secondary);
}

.btn.big {
  height: calc(var(--base-unit) * 2);
  padding: 0 30px;
}

/* 폼 요소 */
.hero {
  background: var(--hero);
}

form {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form .field {
  height: calc(var(--base-unit) * 2);
  background: var(--white);
  border-radius: 3px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  color: var(--light--gray);
}

form .field input {
  font-style: italic;
  color: var(--black);
}

form .field input::placeholder {
  color: var(--super--light--gray);
}

form button {
  height: calc(var(--base-unit) * 2);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: calc(var(--base-font) * 1.125);
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid var(--white);
}

/* 레이아웃 */
.container {
  width: 1272px;
  margin: 0 auto;
}

.inner-pd {
  padding: calc(var(--base-unit) * 3) 0;
}

.inner-top-pd {
  padding-top: calc(var(--base-unit) * 3);
}

.hidden {
  position: absolute;
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
}

hr {
  border: none;
  /* border-top: 1px solid var(--super--light--gray); */
  height: 1px;
  background: var(--super--light--gray);
}

/* header */
body > header {
  background: var(--white);
  padding: var(--base-unit) 0;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

/* h1 span {
  display: inline-block;
  text-indent: -9999em;
  overflow: hidden;
} */

header nav ul {
  gap: 10px;
}

header nav ul li:first-child {
  margin-right: 40px;
}

/* 슬라이드 */
.slidewrapper {
  position: relative;
  overflow: hidden;
}

.slidecontainer {
  width: 300%; /* js 부모 너비 파악, 슬라이드 개수 파악, 너비 계산 지정할 예정 */
  display: flex;
  transition: 0.3s ease-out;
  transform: translateX(-1272px);
}

.slidecontainer li {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--base-unit);
}

/* .slidewrapper button {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light--gray);
  cursor: pointer;
} */

.slidewrapper button {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light--gray);
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slidewrapper .prev {
  left: 0;
}

.slidewrapper .next {
  right: 0;
}

/* CTA */
.cta {
  background: var(--c-t-a);
}

.cta h3 {
  color: var(--white);
}
