.hero h3 {
  color: var(--white);
}

.features ul {
  gap: 24px;
  text-align: center;
}

.features ul li {
  display: flex;
  flex-direction: column;
  gap: var(--base-unit);
  align-items: center;
}

.features .icon {
  width: calc(var(--base-unit) * 4);
  height: calc(var(--base-unit) * 4);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--medium-blue);
  border-radius: 50%;
  box-sizing: border-box;
  color: var(--medium-blue);
}

.features .icon span {
  font-size: 36px;
}
/* .testimonial li {
  font-weight: 300;

}

.testimonial blockquote {
  width: 840px;
  font-weight: 300;
  font-style: italic;
  font-size: 24px;
  line-height: 36px;
  color: var(--light-blue);
  text-align: center;
}
 */
.testimonial li {
  font-weight: 300;
  color: var(--light-blue);
  text-align: center;
}
.testimonial blockquote {
  width: 840px;
  font-style: italic;
  font-size: 24px;
  line-height: 36px;
}
.testimonial small {
  font-weight: 300;
  text-transform: uppercase;
}
