.hero h3 {
  color: var(--white);
}

.features ul {
  gap: 24px;
  text-align: center;
}

.features ul li {
  display: flex;
  flex-direction: column;
  gap: var(--base-unit);
  align-items: center;
}

.features .icon {
  width: calc(var(--base-unit) * 4);
  height: calc(var(--base-unit) * 4);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--medium-blue);
  border-radius: 50%;
  box-sizing: border-box;
  font-size: 36px;
}